#wrapper {
	width: 60%;
	margin: auto;
	font-family: Helvetica, Arial, sans-serif;
	min-width: 800px;
}

.clear_floats {
	clear: both;
}

.column_left {
	float: left;
	width: 32%;
}

.column_center {
	float: left;
	margin-right: 1.5%;
	margin-left: 1.5%;
	width: 32%;
}

.column_right {
	float: left;
	width: 32%;
}

div.column_left > div {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
}

div.column_center > div {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
}

div.column_right > div {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
}

#header {
	background-color: #cccccc;
	margin-bottom: 16px;
}

#level {
	color: red;
	font-size: 64px;
	float: left;
	height: 90px;
	line-height: 90px;
	margin-right: 10px;
}

#level_button_container {
	float: left;
	height: 90px;
	width: 45px;
}

#level_up_button {
	height: 40px;
	width: 30px;
}

#level_down_button {
	height: 40px;
	width: 30px;
}

#level_button_container > div {
	height: 45px;
	line-height; 45px;
}

#points_labels_container {
	float: right;
	text-align: right;
	margin-right: 8px;
}

#points_container {
	float: right;
	text-align: right;
}

#points_labels_container > div {
	height: 30px;
	line-height: 30px;
	font-size: 18px;
}

#points_container > div {
	height: 30px;
	line-height: 30px;
	font-size: 18px;
}

#attr_points_label {
	color: blue;
}

#abil_points_label {
	color: purple;
}

#talent_points_label {
	
}

#attr_points {
	color: blue;
}

#abil_points {
	color: purple;
}

#talent_points {
	
}

#attributes {
	background-color: #cc00cc;
}

#abilities {
	background-color: #00cccc;
}

#talents {
	background-color: #cccc00;
}

.stat_row {
	height: 24px;
	line-height: 24px;
	clear: both;
}

.stat_label {
	float: left;
}

.stat_value {
	float: right;
}

.stat_level_up {
	margin-top: 2px;
	float: right;
	height: 20px;
	width: 20px;
}

.stat_level_down {
	margin-top: 2px;
	float: right;
	height: 20px;
	width: 20px;
}














